

.navigation{
    border-right: 1px solid black;
    height:1500px;
}

.navbar{
    position: fixed;
    top:40%;
}

.header{
    position: fixed;
    width: 100%;
    left:5%;
}

.options{
    margin-top: 30px;
}

.option{
    border: 1px solid rgba(128, 128, 128, 0.411);
    margin-top: 10px;
    margin-left: 30px;
    padding:10px;
    font-size: large;
    font-weight: 400;
}

a{
    color:black;
}

.page-footer{
    padding-bottom: 30px;
}

body {
    background-image: url('backgroundImage.jpeg');
    background-attachment: fixed;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.login {
    text-align: center;
    padding: 30px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: aliceblue;
}

.forgotPassword {
    padding: 10px;
    text-align: center;

}

.newUser {
    padding: 10px;
    text-align: center;
}

.resetPassword {
    text-align: center;
    padding: 30px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: aliceblue;
}

.passwordSent {
    text-align: center;
    padding: 30px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: aliceblue;
}

.createAccount {
    text-align: center;
    padding: 30px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: aliceblue;
}

.accountCreated {
    text-align: center;
    padding: 30px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: aliceblue;
}